@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
	background-image: linear-gradient(
		to bottom right,
		theme("colors.cyan.400"),
			theme("colors.cyan.400"),
		theme("colors.cyan.500")
	);
}

@media (prefers-color-scheme: dark) {
	.gradient {
		background-image: linear-gradient(
			to bottom right,
			theme("colors.cyan.200"),
			theme("colors.cyan.400")
		);
	}
}

.clip {
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	max-width: max-content;
}

@keyframes shimmer {
	0% {background-position: 110%;}
	35% {background-position: 0;}
	70%, 100% {background-position: -40%;}
}

.shimmer {
	position: relative;
	overflow: hidden;
}

.shimmer::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
			90deg,
			rgba(0, 220, 255, 0.0) 0%,
			rgba(0, 220, 255, 0.0) 40%,
			rgba(0, 220, 255, 0.3) 50%,
			rgba(0, 220, 255, 0.0) 60%,
			rgba(0, 220, 255, 0.0) 100%
	);
	background-size: 200% 100%;
	animation: 3s shimmer linear infinite;
}

@keyframes shimmer-first {
	0% {background-position: 110%;}
	35% {background-position: 0;}
	70%, 100% {background-position: -40%;}
}

.shimmer-first {
	background: linear-gradient(
			90deg,
			rgba(0, 220, 255, 0.0) 0%,
			rgba(0, 220, 255, 0.0) 40%,
			rgba(0, 220, 255, 0.3) 50%,
			rgba(0, 220, 255, 0.0) 60%,
			rgba(0, 220, 255, 0.0) 100%
	);
	background-size: 200% 100%;
	animation: 3s shimmer-first linear infinite -0.6s;
}

h1, h2, h3, div, p, text, li, ol, ul {
	font-family: Soleil, -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

code, pre {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  width: 0;
  height: 0;
}

pre, code {
	scrollbar-width: none;
	scrollbar-color: transparent transparent;
}

@media (prefers-color-scheme: dark) {
	.highlighted {
		background-color: rgb(0, 65, 65);
		height: fit-content;
		padding-top: 0.1rem;
		padding-bottom: 0.1rem;
		width: 100%;
		display: inline-block;
	}

	/* pre:has(code[data-theme='light']) {
		display: none;
		height: 0;
	} */

	code[data-theme='light'] {
		display: none;
		height: 0;
	}
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
	.highlighted {
		background-color: rgb(197, 240, 240);
		height: fit-content;
		padding-top: 0.1rem;
		padding-bottom: 0.1rem;
		width: 100%;
		display: inline-block;
	}

	/* pre:has(code[data-theme='dark']) {
		display: none;
  	} */
	code[data-theme='dark'] {
		display: none;
		height: 0;
	}
}

@media (min-width: 640px) { 
	.highlighted {
		padding-top: 0.2rem;
		padding-bottom: 0.2rem; 
	}
}

@media (min-width: 768px) { 
	.highlighted {
		padding-top: 0.21rem;
		padding-bottom: 0.22rem; 
	}
}

@font-face {
	font-family: "Soleil";
	src: url("https://use.typekit.net/af/59b013/00000000000000007735a1aa/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/59b013/00000000000000007735a1aa/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/59b013/00000000000000007735a1aa/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Soleil";
	src: url("https://use.typekit.net/af/5d2da8/00000000000000007735a1ac/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/5d2da8/00000000000000007735a1ac/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/5d2da8/00000000000000007735a1ac/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family:"soleil";
	src:url("https://use.typekit.net/af/a9ccd8/00000000000000007735a1b7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/a9ccd8/00000000000000007735a1b7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/a9ccd8/00000000000000007735a1b7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:800;
}

@font-face {
	font-family: "Soleil";
	src: url("https://use.typekit.net/af/84e430/00000000000000007735a1c0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"), url("https://use.typekit.net/af/84e430/00000000000000007735a1c0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"), url("https://use.typekit.net/af/84e430/00000000000000007735a1c0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
	font-display: auto;
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: "Soleil";
	src: url("https://use.typekit.net/af/19bbb3/00000000000000007735a1be/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/19bbb3/00000000000000007735a1be/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/19bbb3/00000000000000007735a1be/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
	font-display: auto;
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family:"soleil";
	src:url("https://use.typekit.net/af/4b2283/00000000000000007735a1c1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/4b2283/00000000000000007735a1c1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/4b2283/00000000000000007735a1c1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
	font-display:auto;
	font-style:italic;
	font-weight:800;
}	
