@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply selection:bg-sky-700 selection:text-white
}

/* Shimmer animation for "hydration-animation.tsx" */
.shimmer {
    position: relative;
    overflow: hidden;
}

.shimmer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,
            rgba(56, 189, 248, 0.0) 0%,
            rgba(56, 189, 248, 0.0) 40%,
            rgba(56, 189, 248, 0.3) 50%,
            rgba(56, 189, 248, 0.0) 60%,
            rgba(56, 189, 248, 0.0) 100%);
    background-size: 200% 100%;
    animation: 3s shimmer linear infinite;
}

.shimmer-first {
    background: linear-gradient(90deg,
            rgba(56, 189, 248, 0.0) 0%,
            rgba(56, 189, 248, 0.0) 40%,
            rgba(56, 189, 248, 0.3) 50%,
            rgba(56, 189, 248, 0.0) 60%,
            rgba(56, 189, 248, 0.0) 100%);
    background-size: 200% 100%;
    animation: 3s shimmer-first linear infinite -0.6s;
}

@keyframes shimmer {
    0% {
        background-position: 110%;
    }

    35% {
        background-position: 0;
    }

    70%,
    100% {
        background-position: -40%;
    }
}

@keyframes shimmer-first {
    0% {
        background-position: 110%;
    }

    35% {
        background-position: 0;
    }

    70%,
    100% {
        background-position: -40%;
    }
}

.react-tweet-theme {
    font-style: normal;
}

blockquote>h3,
blockquote>h4 {
    font-style: normal;
    line-height: 2rem;
}

/* Markdown styling */
h1 {
    color: theme("colors.neutral.900");
    padding-bottom: 0.75rem;
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

h1,
h2,
h3 {
    margin-top: 1.25rem;
}

h2,
h3,
h4 {
    color: theme("colors.neutral.900");
}

p,
text {
    color: theme('colors.neutral.600');
    font-size: 0.9375rem;
    line-height: 1.625rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

pre,
code {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
}

ol {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    list-style-type: decimal;
    list-style-position: outside;
}

ul {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    list-style-type: disc;
    list-style-position: outside;
}

blockquote {
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: theme('colors.neutral.600');
    font-style: italic;
    border-left-width: 2px;
    border-color: theme('colors.neutral.200');
}

#home-page-link.no-underline,
#github-link.no-underline,
#vercel-link.no-underline,
#footer.no-underline {
    text-decoration-line: none;
}

@media (prefers-color-scheme: dark) {
    p,
    text {
        color: theme('colors.neutral.400');
    }

    h1 {
        color: theme("colors.white");
    }

    h2,
    h3,
    h4 {
        color: theme('colors.neutral.100');
    }

    blockquote {
        border-color: theme('colors.neutral.800');
    }
}

h1::before,
h2::before,
h3::before {
    content: '';
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}

#github-link.no-underline,
#vercel-link.no-underline,
#footer.no-underline,
#home-page.no-underline {
    text-decoration-line: none;
}

a {
    color: theme('colors.neutral.900');
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 500;
}

a:hover {
    color: theme('colors.neutral.600');
    text-decoration: none;
}

.tweet-body_root__f5XIs {
    color: theme("colors.neutral.900");
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .tweet-body_root__f5XIs {
        color: theme('colors.neutral.100');
        margin: 0;
    }

    a {
        color: theme('colors.neutral.200')
    }

    a:hover {
        color: theme('colors.white');
    }
}

blockquote>h1,
blockquote>h2,
blockquote>h3,
blockquote>h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 500;
}

blockquote {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Fonts */
h1,
h2,
h3 {
    letter-spacing: -0.025em;
}

/* Hiding scrollbar */
pre::-webkit-scrollbar,
code::-webkit-scrollbar {
    width: 0;
    height: 0;
}

pre,
code {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

code:not(pre > code) {
    @apply bg-neutral-100 dark:bg-neutral-800 rounded px-1.5 py-0.5 text-sm;
}

/* Code-block styling for highlighted classes + dark/light themes */
.highlighted {
    width: 100%;
    display: inline;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

@media (prefers-color-scheme: dark) {
    .highlighted {
        background-color: theme('colors.neutral.800');
    }
}

@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
    .highlighted {
        background-color: #cce6ff;
    }

    :root {
        --shiki-color-text: #171717;
        --shiki-color-background: transparent;
        --shiki-token-constant: #171717;
        --shiki-token-string: #297a3a;
        --shiki-token-comment: #666666;
        --shiki-token-keyword: #bd2864;
        --shiki-token-parameter: #a35200;
        --shiki-token-function: #0068d6;
        --shiki-token-string-expression: #297a3a;
        --shiki-token-punctuation: #171717;
        --shiki-token-link: #297a3a;
    }
}

@media (prefers-color-scheme:dark) {
    :root {
        --shiki-color-text: #ededed;
        --shiki-color-background: transparent;
        --shiki-token-constant: #ededed;
        --shiki-token-string: #62c073;
        --shiki-token-comment: #a1a1a1;
        --shiki-token-keyword: #f75f8f;
        --shiki-token-parameter: #ff990a;
        --shiki-token-function: #52a8ff;
        --shiki-token-string-expression: #62c073;
        --shiki-token-punctuation: #ededed;
        --shiki-token-link: #62c073
    }
}
