a {
    color: theme('colors.sky.500');
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
a:hover {
    text-decoration-line: underline;
}
#home-page-link.no-underline, #github-link.no-underline {
    text-decoration-line: none;
}

h1::before, h2::before, h3::before {
    content: '';
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}

h1 > a {
    color: theme('colors.sky.500');
}
h2 > a, h3 > a {
    color: theme('colors.gray.900');
}
@media (prefers-color-scheme: dark) {
    a {
        color: theme('colors.sky.400');
    }
    h1 > a {
        color: theme('colors.sky.400');
    }
    h2 > a, h3 > a, footer > a {
        color: theme('colors.gray.100');
    }
}
