a {
    color: theme('colors.sky.500');
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
a:hover {
    text-decoration-line: underline;
}
#home-page-link.no-underline, #github-link.no-underline {
    text-decoration-line: none;
}
h1 > a {
    color: theme('colors.sky.500');
}
h2 > a, h3 > a {
    color: theme('colors.gray.900');
}
@media (prefers-color-scheme: dark) {
    h1 > a {
        color: theme('colors.sky.400');
    }
    h2 > a, h3 > a, footer > a {
        color: theme('colors.gray.100');
    }
}
